__pycache__/
data/*
!data/*.txt
models/*
!models/*.txt
plots/*
!plots/*.txt
*.ipynb_checkpoints/
.idea/
clustering/
*.csv
*.xlsx
*.json
*.parquet
*.gzip
*.jpg
*.png
*.gif
*.html
*.pt
*.ipynb
*.npy
*.txt
*/moderate-webviewer/*
wandb/